doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    link(rel='stylesheet' href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css')
    link(rel='stylesheet' href='/stylesheets/style.css')

  body
    block content

    script(type='text/javascript' src='/javascripts/jquery-2.2.0.min.js')
    script(type='text/javascript' src='/javascripts/bootstrap.min.js')
    script(type='text/javascript' src='/socket.io/socket.io.js')

    block body_end